@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '_tables.css';

@layer components {
    a {
        @apply text-indigo-600 hover:text-indigo-900;
    }
}

.navigation-logo a {
    max-height: 100%;
}
.navigation-logo a img {
    margin-top: 1rem;
    max-height: calc(100% - 2rem);
}